
/* order confirmation */

/* MAIN TITLE */

body>h1 {
    text-align: center;

    color: rgb(17, 34, 80);

    font-size: 64px;

    margin-top: 70px;
    margin-bottom: 20px;
}


/* CONFIRMATION MESSAGE */

body>p {
    text-align: center;

    color: rgb(17, 34, 80);

    font-size: 18px;

    margin-bottom: 45px;
}


/* ORDER ITEMS */

body>div:not(:first-child) {
    width: 90%;
    max-width: 650px;

    margin: 0 auto;

    padding: 14px 25px;

    background: #f8f5ef;

    color: rgb(17, 34, 80);

    border-bottom: 1px dotted rgba(17, 34, 80, 0.4);

    box-sizing: border-box;
}


/* TOTAL */

body>h3 {
    width: 90%;
    max-width: 650px;

    margin: 0 auto;

    padding: 25px;

    box-sizing: border-box;

    background: #f8f5ef;

    color: rgb(17, 34, 80);

    font-size: 22px;

    border-top: 2px dotted rgb(17, 34, 80);
}


/* CONTINUE SHOPPING */

body>a {
    display: block;

    width: fit-content;

    margin: 35px auto 70px;

    padding: 14px 30px;

    background: rgb(184, 105, 79);

    cursor: pointer;

    color: white;

    text-decoration: none;

    border-radius: 7px;

    font-weight: bold;

    transition: 0.2s;
}

body>a:hover {
    opacity: 0.85;
}

body>h3 {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 20px;
}


/* RIPPED BOTTOM OF RECEIPT */

body>h3::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -12px;

    width: 100%;
    height: 15px;

    background: #f8f5ef;

    clip-path: polygon(0 0,
    4% 100%,
    8% 0,
    12% 100%,
    16% 0,
    20% 100%,
    24% 0,
    28% 100%,
    32% 0,
    36% 100%,
    40% 0,
    44% 100%,
    48% 0,
    52% 100%,
    56% 0,
    60% 100%,
    64% 0,
    68% 100%,
    72% 0,
    76% 100%,
    80% 0,
    84% 100%,
    88% 0,
    92% 100%,
    96% 0,
    100% 100%,
    100% 0);
}

body>h3::before {
    content: "";

    position: absolute;

    width: 700px;
    height: 700px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -40%);

    background-image: url("../image/checkoutDecoration.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.2;

    z-index: -1;
}

/* end order confirmation */