<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{products.title}">Products</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/products.css}">-->
    <link rel="stylesheet" th:href="@{/css/style.css?v=1}">
    <link rel="stylesheet" th:href="@{/css/products.css?v=1}">
    <script th:src="@{/js/main.js}"></script>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div id="body">

    <h1 th:text="#{products.title}">Products</h1>

    <div id="products-container">

        <div th:each="p : ${products}">
            <a th:href="@{/products/{id}(id=${p.id})}">
                <img th:src="${p.imageUrl}" src="https://via.placeholder.com/200" alt="Product image">
                <h3 th:text="${p.name}">Placeholder</h3>
            </a>
            <div class="price-div">
                <p th:text="${#numbers.formatDecimal(p.price, 0, 0)}">0</p>
                <p>&nbsp;ден.</p>
            </div>
        </div>

    </div>
</div>

</body>
</html>